body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1920px;
    height: 1080px;
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2px;
    height: 100vh;
    align-items: stretch;
    justify-items: stretch;
}

.square1 {
    background-color: #f0f0f0;
    grid-column: 1/3;
    grid-row: 1/6;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
}

.dateShow {
    background-color: #f0f0f0;
    grid-column: 2/4;
    grid-row: 6/7;
}

.time {
    font-size: 100px;
    color: #333;
    text-align: center;
}

.date {
    font-size: 40px;
    color: #333;
    text-align: left;
}

.weatherShow {
    background-color: #f0f0f0;
    grid-column: 1/3;
    grid-row: 1/2;
}

.weather {
    font-size: 35px;
    color: #000000;
    text-align: left;
}

.square2 {
    background-color: #f0f0f0;
    grid-column: 3/4;
    grid-row: 1/3;
    padding: 20px;
    text-align: center;
}

.square3 {
    background-color: #f0f0f0;
    grid-column: 4/6;
    grid-row: 1/3;
    padding: 20px;
    text-align: center;
}

.square4 {
    background-color: #f0f0f0;
    grid-column: 3/4;
    grid-row: 3/6;
    padding: 20px;
    text-align: center;
}

.square5 {
    background-color: #f0f0f0;
    grid-column: 4/5;
    grid-row: 3/6;
    padding: 20px;
    text-align: center;
}

.square6 {
    background-color: #f0f0f0;
    grid-column: 5/6;
    grid-row: 3/6;
    padding: 20px;
    text-align: center;
}

.calendar,
.events,
.weather-forecast {
    font-size: 24px;
    color: #333;
    text-align: center;
}


.date {
    top: calc(50% + 1.5em);
}

.weekday {
    top: calc(50% + 3em);
}

.weather {
    top: calc(100% - 5em);
}

.calendar {
    margin-top: 2em;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.calendar th,
.calendar td {
    padding: 0.5em;
}

.calendar th {
    font-weight: bold;
}

.calendar td {
    border: 1px solid #333;
}

#month {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.events {
    font-size: 20px;
    color: #333;
    text-align: center;
    width: 100%;
    white-space: nowrap;
}

.weather-forecast {
    font-size: 20px;
    color: #333;
    text-align: center;
    width: 100%;
    white-space: nowrap;
}
